# core requires
fastapi
httpx
Jinja2
aiofiles
gunicorn
uvicorn
python-dotenv
pydantic-settings
requests
slowapi
Authlib
aiosqlite
sqlalchemy[asyncio]
alembic
websockets

# endpoint requires
psutil
dbus-python
