{% extends "shared/layout.html" %}

{% block content %}

    <img src="/static/img/apple-icon-144x144.png" style="float: left; max-width: 48px; margin-right: 20px;" alt="WLAN Pi">

    <h1><span class="font-semi-bold">wlanpi-core:</span> <span class="smaller">A backend service for the WLAN Pi.</span>
    </h1>

    <div style="clear:both;"></div>
    <br>
    <br>
    <p class="lead">
        Hello from the <b>WLAN Pi</b> backend!
    </p>
    <p class="lead">
        To get started with the API, check out <a href="/api">/api</a>.
    </p>
{% endblock %}