{% extends "shared/layout.html" %}

{% block content %}
    <p class="lead">
        Backend services for the <strong>WLAN Pi</strong>.
    </p>
    <p>
        For documentation and usage head over to the Swagger UI at <a href="/documentation">/documentation</a>.
    </p>
    <p>
        <strong>Sample endpoints:</strong>
        {% if endpoints %}
        <ul>
            {% for e in endpoints %}
            <li> <a href="{{e.path}}">{{ e.path }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </p>
{% endblock %}