# wlanpi-core.service

[Unit]
Description=gunicorn daemon which manages uvicorn workers for wlanpi-core
Requires=wlanpi-core.socket
After=network.target

[Service]
Type=notify
User=wlanpi_api
Group=wlanpi_api
WorkingDirectory=/opt/wlanpi-core/lib/python3.7/site-packages/wlanpi_core
ExecStart=/opt/wlanpi-core/bin/gunicorn --workers 2 -k uvicorn.workers.UvicornWorker --bind unix:wlanpi_core.sock asgi:app --name wlanpi_core_svc --access-logfile /var/log/wlanpi-core/access.log --error-logfile /var/log/wlanpi-core/error.log --user wlanpi_api

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

# RuntimeDirectory=/opt/wlanpi-core
# Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
