# wlanpi-core.service

[Unit]
Description=gunicorn daemon which manages uvicorn workers for wlanpi-core
Requires=wlanpi-core.socket var-log-wlanpi_core-debug.mount
After=network.target var-log-wlanpi_core-debug.mount

[Service]
Type=notify
EnvironmentFile=/etc/wlanpi-core/environment

# this is a soft link created via maintainer script
WorkingDirectory=/opt/wlanpi-core/workingdirectory

ExecStart=/opt/wlanpi-core/bin/gunicorn \
    --workers 1 \
    -k uvicorn.workers.UvicornWorker \
    --bind unix:wlanpi_core.sock asgi:app \
    --name wlanpi_core_svc \
    --access-logfile /var/log/wlanpi_core/gunicorn_access.log \
    --error-logfile /var/log/wlanpi_core/gunicorn_error.log \
    --access-logformat '%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s" %(L)s' \
    --log-level warning 

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

# Restart=always
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
