<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An API built for the WLAN Pi using FastAPI & Python 3">
    <meta name="author" content="Josh Schmelzle">

    <title>wlanpi-core - API landing page</title>

    <link href="/static/vendor/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1">
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
</head>

<body>
<br>
<div class="starter-template">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    {% block content %}
                    <div class="content">
                        THIS PAGE HAS NO CONTENT
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="links">
                <ul>
                    <li><i class="glyphicon glyphicon-cog icon-muted"></i><a href="https://github.com/wlan-pi/wlanpi-core" target="_blank">Github Project</a></li>
                    <li><i class="glyphicon glyphicon-globe icon-muted"></i><a href="https://twitter.com/wlanpi" target="_blank">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>