body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: black;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

p {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-semi-bold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}